$c-primary: #00ADB5;
$c-seconary: #393E46;
$c-green: #1A8917;
$c-dark: #222831;
$c-silver: #EEEEEE;
$c-text: #292929;
$c-border: #E6E6E6;
$c-muted: #757575;
$c-danger: #dc3545;

$radius-normal: 4px;

$f-xs: 12px;
$f-regular: 14px;
$f-medium: 18px;
$f-large: 28px;
$f-xl: 70px;

$font-display: 'Playfair Display', serif;